<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Técnicos</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div th:include="~{../static/html/nav.html}"></div>

<div class="container mt-4">
  <h1>Listado de Técnicos</h1>
  <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#agregarTecnicoModal">
    <i class="fa fa-plus"></i>
    &nbsp;Agregar Técnico
  </button>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombres</th>
      <th>Apellido 1</th>
      <th>Apellido 2</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tecnico : ${atributoListarTecnicos}">
      <td th:text="${tecnico.id}"></td>
      <td th:text="${tecnico.nombres}"></td>
      <td th:text="${tecnico.apellido1}"></td>
      <td th:text="${tecnico.apellido2}"></td>
      <td>
        <button type="button" class="btn btn-warning" data-toggle="modal" th:data-target="'#editarTecnicoModal' + ${tecnico.id}">
          <i class="fa fa-pencil"></i>
          &nbsp;Editar
        </button>
        <!-- Boton eliminar -->
        <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#eliminar-' + ${tecnico.id}">
          <i class="fa fa-trash"></i>
          &nbsp;Eliminar
        </button>
        <!-- Modal Eliminar -->
        <div class="modal fade" th:id="'eliminar-' + ${tecnico.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Técnico</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p th:text="'Se eliminará el técnico: '+${tecnico.nombres}+', ¿estás seguro(a)?'"/>
              </div>
              <div class="modal-footer">
                <form th:action="@{/tecnicos/eliminar/{id}(id=${tecnico.id})}" method="post">
                  <button class="btn btn-danger" type="submit">Eliminar Técnico</button>
                </form>
                <button class="btn btn-success" data-dismiss="modal" type="button">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal para agregar técnico -->
<div class="modal fade" id="agregarTecnicoModal" tabindex="-1" role="dialog" aria-labelledby="agregarTecnicoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarTecnicoModalLabel">Agregar Técnico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario para agregar técnico -->
        <form th:action="@{/tecnicos/crear}" method="post">
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" class="form-control" id="nombres" name="nombres" required>
          </div>
          <div class="form-group">
            <label for="apellido1">Apellido 1</label>
            <input type="text" class="form-control" id="apellido1" name="apellido1">
          </div>
          <div class="form-group">
            <label for="apellido2">Apellido 2</label>
            <input type="text" class="form-control" id="apellido2" name="apellido2">
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div th:each="tecnico : ${atributoListarTecnicos}">
  <!-- Modal para editar técnico -->
  <div class="modal fade" th:id="'editarTecnicoModal' + ${tecnico.id}" tabindex="-1" role="dialog" aria-labelledby="editarTecnicoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarTecnicoModalLabel">Editar Técnico</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario para editar técnico -->
          <form th:action="@{/tecnicos/editar/{id}(id=${tecnico.id})}" method="post">
            <div class="form-group">
              <label for="nombres">Nombres</label>
              <input type="text" class="form-control" id="nombres" name="nombres" th:value="${tecnico.nombres}" required>
            </div>
            <div class="form-group">
              <label for="apellido1">Apellido 1</label>
              <input type="text" class="form-control" id="apellido1" name="apellido1" th:value="${tecnico.apellido1}">
            </div>
            <div class="form-group">
              <label for="apellido2">Apellido 2</label>
              <input type="text" class="form-control" id="apellido2" name="apellido2" th:value="${tecnico.apellido2}">
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
